.home_whiteLabel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f24b;
  /* border: 1px solid red; */
}
.home_whiteLabel > h2 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: var(--102px);
  color: #1d1d1d;
}
.home_whiteLabel > p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: var(--24px);
  color: #1d1d1d;
  width: 60%;
  text-align: center;
  margin-bottom: var(--sy-50px);
}
.home_whiteLabel_cardsWrapper {
  display: flex;
  gap: var(--30px);
}

.home_whiteLabel_card {
  background-color: #1d1d1d;
  border-radius: var(--102px);
  height: var(--502px);
  width: var(--198px);
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  overflow: hidden;
}
.home_whiteLabel_card_title {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
  position: relative;
  padding: var(--25px);
  cursor: pointer;
}
.home_whiteLabel_card_title > span {
  display: block;
  background-color: #f8f24b;
  width: var(--148px);
  height: var(--148px);
  border-radius: 50%;
}
.home_whiteLabel_card_title > h3 {
  transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: var(--31px);
  position: absolute;
  top: 34vh;
  left: 50%;
  width: var(--264px);
  text-align: start;
}
.home_whiteLabel_card_content {
  display: none;
  padding: var(--80px) var(--40px);
  padding-left: var(--5px);
  padding-bottom: var(--30px);
}
.home_whiteLabel_card_content svg {
  align-self: flex-end;
}
.home_whiteLabel_card_content p {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: var(--24px);
  font-weight: 400;
}
.home_whiteLabel_card_content > div > p:first-child {
  margin-bottom: var(--sy-30px);
}
.home_whiteLabel_card.active {
  width: var(--700px);
  transition: all 0.4s ease-in-out;
  transform: rotate(6deg);
}
.home_whiteLabel_card.active .home_whiteLabel_card_title h3 {
  left: 50%;
}
.home_whiteLabel_card.active .home_whiteLabel_card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
