/* ===== Start Title Styles ===== */
.divider {
  height: 100%;
  width: var(--1px);
  background-color: #616161;
}






/* ===== End Title Styles ===== */



/* ===== Start Horray Indicator Styles ===== */

.horrayIndicator{

}
/* ===== End Horray Indicator Styles ===== */