/* ===== Start Calender ===== */
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.MuiPickersCalendarHeader-switchViewButton {
    display: none;
  }
  
  .MuiButtonBase-root.MuiPickersDay-root.Mui-selected.MuiPickersDay-dayWithMargin {
    background-color: #f8f24b ;
    color: var(--primary-black);
  }
  
  .MuiPickersCalendarHeader-root {
    display: flex;
    gap: 0.6vw;
    justify-content: space-between;
  }
  
  .MuiDayCalendar-weekContainer,
  .MuiDayCalendar-header {
    display: flex;
    gap: 0.6vw;
    justify-content: space-between;
  }
  
  .MuiTypography-root.MuiTypography-caption.MuiDayCalendar-weekDayLabel {
    font-size: clamp(10px, calc(0.7vw + 0.1rem), 100px);
    color: white;
    width: clamp(16px, calc(1.6vw + 0.1rem), 80px);
    height: clamp(16px, calc(1.6vw + 0.1rem), 80px);
    font-weight: 700;
  }
  
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
    color: white;
    font-size: clamp(10px, calc(0.7vw + 0.1rem), 100px);
    font-weight: 500;
    width: clamp(16px, calc(1.3vw + 0.1rem), 80px);
    height: clamp(16px, calc(1.3vw + 0.1rem), 80px);
  }
  
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin:hover {
    background-color: #f8f24b;
    color: #1c1c1c;
  }
  
  .MuiDateCalendar-root {
    border: none;
    border-radius: 0;
    height: clamp(100px, calc(30vh + 0.1rem), 6000px);
    overflow-y: hidden;
    width: 100%;
    padding: 0;
    max-height: unset;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  
  .MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition {
    overflow-y: hidden;
    height: clamp(100px, calc(30vh + 0.1rem), 6000px);
  }
  
  .MuiPickersCalendarHeader-labelContainer {
    font-size: clamp(10px, calc(0.8vw + 0.1rem), 60px);
    font-weight: 700;
  }
  
  .MuiPickersArrowSwitcher-root {
    background-color: #272727;
    border-radius: var(--22px);
  }
  
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiPickersArrowSwitcher-button,
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiPickersArrowSwitcher-button {
    cursor: pointer;
    width: clamp(16px, calc(1.5vw + 0.1rem), 80px);
    height: clamp(16px, calc(1.5vw + 0.1rem), 80px);
    border-radius: 0.2vw;
    color: var(--white);
  }
  
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiPickersArrowSwitcher-button
    svg,
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiPickersArrowSwitcher-button
    svg {
    width: clamp(16px, calc(1.2vw + 0.1rem), 80px);
    /* height: clamp(16px, calc(1vw + 0.1rem), 80px); */
    transition: all 0.3s;
  }
  
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiPickersArrowSwitcher-button:hover
    path,
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiPickersArrowSwitcher-button:hover
    path {
    fill: #f8f24b;
  }
  
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiPickersArrowSwitcher-button:disabled {
    background-color: #d9d9d9;
  }
  
  .MuiPickersArrowSwitcher-spacer {
    width: clamp(16px, calc(1.5vw + 0.1rem), 1400px);
  }
  
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
    width: clamp(16px, calc(1.3vw + 0.1rem), 800px);
    height: clamp(16px, calc(1.3vw + 0.1rem), 800px);
  }
  
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin:not(.Mui-selected) {
    width: clamp(16px, calc(1.3vw + 0.1rem), 800px);
    height: clamp(16px, calc(1.3vw + 0.1rem), 800px);
  }
  
  /* .pagination_iconButton__7wOJj {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .MuiBreadcrumbs-separator {
    color: #f36f24;
  }
  
  .MuiPickersCalendarHeader-label {
    font-size: clamp(16px, calc(1.17vw + 0.1rem), 1000px);
    font-weight: 700;
    color: #f8f24b;
  }
  
  .MuiPickersCalendarHeader-root {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    max-height: unset;
  }
  
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today {
    background-color: rgb(248, 242, 75, 0.5) !important;
    color: var(--primary-black);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
  }
  
  .MuiPickersArrowSwitcher-root svg {
    height: clamp(14px, calc(0.65vw + 0.1rem), 1000px);
  }
  
  /* ===== End Calender ===== */