/* ===== Start Filter Tabs ===== */
.filterTabs {
  padding: clamp(10px, calc(0.4vw + 0.1rem), 100px);
  border-radius: clamp(72px, calc(3.6vw + 0.1rem), 100px);
  background-color: var(--primary-black);
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.filterTabs::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.filterTabs > div {
  gap: clamp(16px, calc(0.75vw + 0.1rem), 100px);
}

.filterTabs > div > div > div {
  padding: clamp(6.5px, calc(0.2vw + 0.1rem), 100px)
    clamp(21px, calc(1vw + 0.1rem), 100px);
}
/* ===== End Filter Tabs ===== */

/* ===== Start Search & Advanced Filters ===== */
.searchAndFilter input {
  /* width: 964px; */
  height: 37px;
  padding: 7px 18px 7px 18px;
  border-radius: 60px;
  background-color: var(--dark-gray-2);
}
/* ===== End Search & Advanced Filters ===== */
