.releaseContent h2 {
    font-size: var(--32px);
    font-weight: 600;
  }
  .releaseContent h4 {
    font-size: var(--18px);
    font-weight: 400;
    color: #FFFFFFCC;
  }


.releaseContent .btns > div {
    width: 12vw;
    padding: 0;
}
.releaseContent .btns > div > div {
    padding: 1.422vh 1vw;
    font-size: var(--18px);
    font-weight: 500;
    transition: all 0.2s;
}
.releaseContent .btns input:checked + div {
    font-size: var(--18px);
    font-weight: 700;

}