.releasePublishing svg {
    width: clamp(12px,calc(var(--37px) + 00.1rem) , 500px);
    height: clamp(12px,calc(var(--37px) + 00.1rem) , 500px);
}
.releasePublishing ul li span {
    color: #FFFFFF80;
    ;
}