.campaignBudget h2 {
    font-size: clamp(14px, calc(1.6vw + 0.1rem), 100px);
    font-weight: 600;
  }
  .campaignBudget h4 {
    font-size: var(--18px);
    font-weight: 400;
    color: #FFFFFFCC;
  }
  .durationIndicator {
    font-size: var(--18px);
color: #F8F24B;
  }
.campaignBudget a {
    font-size: var(--18px);  
  }