.congrats h4 {
    font-size: var(--12px);
    font-weight: 600;
}
.congrats h3 {
    font-size: var(--14px);
    font-weight: 700;
}
.congrats {
    background-color: #484848;
}
.congrats:hover {
    background-color: #1F1F1F;
}
.congrats.active {
    background-color: #F8F24B;
}
.congrats.active h3,.congrats.active h4 {
    color: black;
}