.videoDuration h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.videoDuration p {
  font-size: var(--18px);
  font-weight: 400;
  color: #ffffffcc;
}
.durationIndicator {
  font-size: var(--18px);
  color: #f8f24b;
}
.videoDuration a {
  font-size: var(--18px);
}
