.analysisEstimate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
}

.container > div {
  margin-bottom: clamp(48px, calc(2.4vw + 0.1rem), 100px);
}

.analysisEstimate h2 {
  font-size: clamp(32px, calc(1.58vw + 0.1rem), 100px);
  font-weight: 600;
  margin-bottom: clamp(16px, calc(0.75vw + 0.1rem), 100px);
}

.analysisEstimate p {
  font-size: clamp(18px, calc(0.85vw + 0.1rem), 100px);
  color: #ffffffcc;
}

.loading {
  display: flex;
  justify-content: center;
}

