.channelChoice h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.channelChoice .btns > div {
  width: 13.5vw;
  padding: 0;
}
.channelChoice .btns > div > div {
  padding: 0.8vw 1vw;
  font-size: var(--18px);
  font-weight: 500;
  transition: all 0.2s;
}
.channelChoice .btns input:checked + div {
  font-size: var(--18px);
  font-weight: 700;
}
.divider {
  display: block;
  height: var(--1px);
  width: 100%;
  border: 0;
  border-top: var(--1px) solid #484848;
  margin-top: clamp(42px, calc(2.1vh + 0.1rem), 60px);
  margin-bottom: clamp(42px, calc(2.1vh + 0.1rem), 60px);
  padding: 0;
}

.card {
  background-color: var(--dark-gray-3);
  border-radius: var(--12px);
  aspect-ratio: 1 / 1;
  width: clamp(6rem, calc(7.35vw + 0.1rem), 20rem);
  height: clamp(6rem, calc(7.35vw + 0.1rem), 20rem);
  padding: var(--24px);
  cursor: pointer;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.card div:nth-child(1) svg {
  width: var(--48px);
  height: var(--49px);
  aspect-ratio: 1 / 1;
}

.card div:nth-child(2) {
  text-align: center;
  font-size: var(--17px);
}

.cards {
  gap: clamp(1rem, calc(2vw + 0.1rem), 50rem);
}

.card:not(:has(input:checked)):hover {
  background-color: #1f1f1f;
  transform: scale(1.1);
}

.card:has(input:checked) {
  background-color: #f8f24b;
  color: var(--primary-black);
}
