.container {
  width: clamp(20rem, calc(60vw + 0.1rem), 100%);
}

.cards {
  width: clamp(20rem, calc(40vw + 0.1rem), 100%);
}

.cards div:has(> input:checked) path {
  stroke: var(--primary-black);
}

.btns input {
  cursor: pointer;
}

.btns input:not(:checked):hover + div {
  background-color: #1c1c1c !important;
}
.btns input + div {
  /* font-size: var(--16px); */
  /* width: var(--241px); */
  /* padding: var(--sy-16px) var(--51px); */
  transition: background-color 0.3s;
}

.btns input + div span {
  font-weight: 400;
}

.btns input:checked + div span {
  font-weight: 700;
}
