.customBtn {
  background-color: #484848;
  font-size: var(--12px);
  font-weight: 700;
}
.customBtn:hover {
  background-color: #1c1c1c;
  color: #f8f24b;
}
.customBtn.active {
  background-color: #f8f24b;
  color: black;
}
