.websiteStyle h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.websiteStyle h4 {
  font-size: var(--18px);
  font-weight: 400;
  color: #FFFFFFCC;
}
.btns input + span {
  width: 100%;
  cursor: pointer;
}
.btns input {
  cursor: pointer;
}
.btns input + div {
  font-size: var(--16px);
  font-weight: 500;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
}
.btns input:checked + div {
  font-weight: 700;
}
.btns{
  margin-top: calc(-1 * var(--50px));
}