.websiteStyle h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.websiteStyle h4 {
  font-size: var(--18px);
  font-weight: 400;
  color: #ffffffcc;
}
.btns input + span {
  width: 100%;
  cursor: pointer;
}
.btns input {
  cursor: pointer;
}
.btns input + div {
  font-size: clamp(14px, calc(0.8vw + 0.1rem), 100px);
  font-weight: 700;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
}
.btns{
  margin-top: calc(-1 * var(--50px));
}