.slider {
  position: relative;
  width: 521px;
  height: 456.7px;

  overflow: hidden;
}
.item {
  position: absolute;
  width: 209.39px;
  height: 456.7px;
  text-align: justify;
  background-color: #fff;
  border-radius: 18px;
  padding: 20px;
  transition: 0.5s;
  left: 50%;
  top: 0;
  color: black;
  padding: 1vw;
  overflow: hidden;
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transition: all 0.5s;
  border: 10px solid #1c1c1c;
}
.item.active {
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 2 !important;
  opacity: 1 !important;
  border: 10px solid red !important;
}
.item.left {
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transform: translateX(calc(-50% - 150px)) scale(0.8);
}
.item.right {
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transform: translateX(calc(-50% + 150px)) scale(0.8);
}
.editing h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.editing h4 {
  font-size: var(--18px);
  font-weight: 400;
  color: #ffffffcc;
}
.btns div {
  width: clamp(1rem, calc(15.35vw + 0.1rem), 100%) !important;
}
.btns input {
  width: clamp(1rem, calc(15.35vw + 0.1rem), 100%) !important;
  cursor: pointer;
}
.btns input {
  cursor: pointer;
}
.btns input + div {
  font-size: clamp(14px, calc(0.8vw + 0.1rem), 100px);
  font-weight: 700;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
}
.editing .swiper {
  margin-left: auto;
  margin-right: 0;
} 