.wordCount .btns > div > div {
    padding: var(--sy-18px) 2.5vw;
    font-size: var(--16px);
    font-weight: 500;
    transition: all 0.2s;
}
.wordCount .btns input:checked + div {
    font-size: var(--16px);
    font-weight: 700;
}

.wordCount input[type='radio']:checked ~ div {
    font-weight: 700;
  }
  .wordCount input[type='radio'] ~ div {
    width: var(--241px);
  }