.slider {
  position: relative;
  width: 950px;
  height: 370px;
  overflow: hidden;
}
.item {
  position: absolute;
  width: 450px;
  height: 320px;
  text-align: justify;
  background-color: #fff;
  border-radius: 18px;
  padding: 20px;
  transition: 0.5s;
  left: 50%;
  top: 0;
  color: black;
  padding: 1.778vh 1vw;
  overflow: hidden;
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transition: all 0.5s;
  border: 10px solid #1c1c1c;
}
.item.active {
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 2 !important;
  opacity: 1 !important;
  border: 10px solid red !important;
}
.item.left {
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transform: translateX(calc(-50% - 150px)) scale(0.8);
}
.item.right {
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transform: translateX(calc(-50% + 150px)) scale(0.8);
}
.chooseKind h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.chooseKind h4 {
  font-size: var(--18px);
  font-weight: 400;
  color: #FFFFFFCC;
}
.btns input + span {
  width: 100%;
  cursor: pointer;
}
.btns input {
  cursor: pointer;
}
.btns input:not(:checked):hover + div {
  background-color: #1c1c1c !important;
}
.btns input + div {
  font-size: var(--16px);
  width: var(--241px);
  padding: var(--sy-16px) var(--51px);
  transition: background-color 0.3s;
}

.btns input:checked + div {
  font-weight: 700;
}
/* .btns{
    margin-top: calc(-1 * var(--50px));
  } */
