.estimatedCost h2 {
    font-size: var(--32px);
    font-weight: 600;
  }
  .estimatedCost h4 {
    font-size: var(--18px);
    font-weight: 400;
    color: #ffffffcc;
  }
  .estimatedCost h3 {
    font-size: clamp(12px, calc(0.85vw + 0.1rem), 100px);
    font-weight: 600;
    color: white;
  }
  
  .estimatedCost button {
    font-size: clamp(12px, calc(0.85vw + 0.1rem), 100px);
    font-weight: 600;
    
  }
.estimatedCost .btns > div {
    width: 13.5vw;
    padding: 0;
}
.estimatedCost .btns > div > div {
    padding: 1.422vh 1vw;
    font-size: var(--18px);
    font-weight: 600;
    transition: all 0.2s;
}
.estimatedCost .btns input:checked + div {
    font-size: var(--18px);
    font-weight: 600;

}
.estimatedCost h2 span {
  color: #F8F24B;
  font-weight: 600;
  font-size: var(--32px);
}
.estimatedCost h2 u {
  font-size: clamp(12px, calc(1.3vw + 0.1rem), 100px);
}
.estimatedCost button {
  font-size: clamp(12px, calc(0.7vw + 0.1rem), 100px);  
}
