.wordCount .btns > div > div {
    padding: var(--sy-18px) 2.5vw;
    font-size: var(--18px);
    font-weight: 500;
    transition: all 0.2s;
    min-width: var(--241px);
}
.wordCount .btns input:checked + div {
    font-size: var(--18px);
    font-weight: 700;
}