.container {
  width: clamp(20rem, calc(60vw + 0.1rem), 100%);
}

.cards {
  width: clamp(20rem, calc(40vw + 0.1rem), 100%);
}

.cards div:has(> input:checked) path {
  stroke: var(--primary-black);
}

.cards div:has(> input) div {
  font-weight: 400;
}
.cards div:has(> input:checked) div {
  font-weight: 700;
}

.card svg {
  width: var(--24px);
  height: var(--20px);
}
