.container {
  gap: var(--sy-16px);
}

.container > h2 {
  font-size: var(--32px);
}

.container > p {
  font-size: var(--18px);
}


.btns > div {
  width: 13vw;
  padding: 0;
}
.btns > div > div {
  padding: 1.422vh 1vw;
  font-size: var(--16px);
  font-weight: 500;
  transition: all 0.2s;
}
 .btns input:checked + div {
  font-size: var(--16px);
  font-weight: 700;

}