/* ===== Start Table Container ===== */
.tableContainer {
  overflow: hidden;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--sy-13px);
}

/* ===== Start Table ===== */
.table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s;
}

/* ===== Table Header ===== */
.table .table_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 1vw);
  padding-bottom: clamp(16px, calc(0.7vw + 0.1rem), 1000px);
  padding-left: clamp(16px, calc(0.7vw + 0.1rem), 1000px);
}

.table .table_header li {
  font-size: var(--16px);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.table .table_header li.center {
  justify-content: center;
}

/* ===== Table Body ===== */
.table .table_body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.table .table_body::-webkit-scrollbar {
  width: 0;
  display: none;
}

.table .table_body ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 1vw);
}

.table .table_body ul li {
  font-size: var(--16px);
  font-weight: 400;
  display: flex;
  align-items: center;
}

.table .table_body ul::after {
  /* Border Bottom */
  content: "";
  width: 100%;
  height: var(--1px);
  background-color: var(--dark-gray-3);
  position: absolute;
  bottom: 0;
  left: 0;
}

.table .table_body ul {
  padding-left: clamp(16px, calc(0.7vw + 0.1rem), 1000px);
  padding-top: clamp(16px, calc(0.7vw + 0.1rem), 1000px);
  padding-bottom: clamp(20px, calc(0.9vw + 0.1rem), 1000px);
  transition: all 0.2s;
}

.table .table_body ul:last-child:after {
  content: none;
}

.table .table_body li.center {
  justify-content: center;
}

.table .table_body li.badge span {
  background-color: #484848;
  padding: var(--sy-3px) var(--16px);
  font-size: var(--16px);
  border-radius: var(--36px);
}

.table .table_body li.button span {
  cursor: pointer;
  background-color: #f8f24b;
  color: #1c1c1c;
  font-weight: 700;
  font-size: var(--16px);
  padding: var(--sy-6px) var(--20px);
  border-radius: var(--33px);
}

/* ==== Start Hover State ==== */
.table .table_body ul:hover {
  background-color: #f8f24b;
}

.table .table_body ul:hover li {
  color: #1c1c1c;
}

.table .table_body ul:hover li:first-child {
  font-weight: 600;
}

.table .table_body ul:hover li.badge span {
  background-color: #1c1c1c;
  color: var(--white);
}

.table .table_body ul:hover li.button span {
  background-color: #1c1c1c;
  color: #f8f24b;
}
/* ==== End Hover State ==== */
