/* ===== Start Imports ===== */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ===== End Imports ===== */

/* ===== Start Variables ===== */
:root {
  --highlight-yellow: #f8f24b;
  --primary-black: #1c1c1c;
  --dark-gray-1: #272727;
  --dark-gray-2: #353535;
  --dark-gray-3: #484848;
  --light-gray: #b1b1b1;
  --white: #ffffff;
  --transparent-yellow: #f8f24b1a;
}
/* ===== End Variables ===== */

/* ===== Start Global ===== */
body {
  background-color: var(--primary-black);
  color: var(--white);
  font-family: "Barlow", sans-serif;
}
* {
  line-height: normal;
}
/* ===== End Global ===== */

/* ===== Start Layout ===== */
.mainWrapper {
  padding: clamp(1rem, calc(1vw + 0.1rem), 1000px);
}

.pageWrapper {
  width: calc(100% - clamp(3.5rem, calc(3.2vw + 0.1rem), 12.25rem));
  padding-left: clamp(1rem, calc(1vw + 0.1rem), 1000px);
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.pageWrapper.navOpened {
  width: calc(100% - clamp(3.5rem, calc(10.35vw + 0.1rem), 102.25rem));
}

.pageContent {
  border-radius: clamp(15px, calc(1.042vw + 0.1rem), 100px);
  background-color: var(--dark-gray-1);
  padding: 1.5vw;
  height: 100%;
}
/* ===== End Layout ===== */

/* ===== Start Slider ===== */
.selected {
  border: 8px solid #f8f24b !important;
}

.swiper {
  width: 40vw;
}

.swiper .swiper-slide {
  width: 60% !important;
  transform: translateX(0) scale(0.7);
}
.swiper .swiper-slide.swiper-slide-prev {
  transform: translateX(55%) scale(0.7);
  transition: all 0.5s;
}
.swiper .swiper-slide.swiper-slide-next {
  transform: translateX(-55%) scale(0.7);
  transition: all 0.5s;
}
.swiper .swiper-slide.swiper-slide-active {
  transform: translateX(0) scale(1);
  transition: all 0.5s;
  z-index: 99;
}
.swiper .slide {
  border-radius: 18px;
}

/* ===== End Slider ===== */
