@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight-yellow: #f8f24b;
  --primary-black: #1c1c1c;
  --dark-gray-1: #272727;
  --dark-gray-2: #353535;
  --dark-gray-3: #484848;
  --light-gray: #b1b1b1;
  --white: #ffffff;
  --transparent-yellow: #f8f24b1a;
}
