.customCheckBox {
  /* width: 40px; */
  /* height: 25px; */
  /* width: clamp(20px, calc(2.2vw + 0.1rem), 100px);
  height: clamp(20px, calc(1.2vw + 0.1rem), 100px); */
  border-radius: 22.79px;
  overflow: hidden;
}

.customCheckBox input {
  opacity: 0;
  cursor: pointer;
  /* z-index: -1; */
}

/* Normal */
.customCheckBox span {
  background-color: var(--dark-gray-3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customCheckBox input + span {
  color: var(--white);
}

/* Hover */
.customCheckBox:hover span {
  background-color: #616161;
}
.customCheckBox:hover input + span {
  color: var(--white);
}

/* Checked */
.customCheckBox input:checked + span {
  background-color: #f8f24b;
}
.customCheckBox input:checked + span {
  color: #282828;
}

.size-sm > span {
  /* width: 76px;
  height: 29px; */
  width: fit-content;
  padding: 9px 20px;
  border-radius: 33px;
}

.size-md > span {
  /* width: 96px;
  height: 37px; */
  width: fit-content;
  padding: 13px 30px;
  border-radius: 33px;
}

.size-lg > span {
  /* width: 136px;
  height: 43.32px; */
  width: fit-content;
  padding: 16.16px 50px;
  border-radius: 41px;
}

.size-xl > span {
  /* width: 186px;
  height: 51px; */
  width: fit-content;
  padding: 20px 75px;
  border-radius: 41px;
}
