.customCheckBoxText {
  /* width: 40px; */
  /* height: 25px; */
  /* width: clamp(20px, calc(2.2vw + 0.1rem), 100px);
  height: clamp(20px, calc(1.2vw + 0.1rem), 100px); */
  border-radius: var(--22px);
  overflow: hidden;
}

.customCheckBoxText input {
  opacity: 0;
  cursor: pointer;
  /* z-index: -1; */
}

/* Normal */
.customCheckBoxText > div {
  background-color: var(--dark-gray-3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customCheckBoxText input + div {
  color: var(--white);
}

/* Hover */
.customCheckBoxText:hover > div {
  background-color: #1c1c1c;
}
.customCheckBoxText:hover input + div {
  color: var(--white);
}

/* Checked */
.customCheckBoxText input:checked + div {
  background-color: #f8f24b;
  color: #282828;
}

/* Disabled */
.customCheckBoxText input:disabled + div {
  background-color: #373737;
  color: #939393;
}

.customCheckBoxText input:disabled {
  cursor: not-allowed;
}

.size-sm > div {
  /* width: 76px;
  height: 29px; */
  padding: var(--sy-9px) var(--20px);
  border-radius: var(--33px);
}

.size-md > div {
  /* width: 96px;
  height: 37px; */
  padding: var(--sy-13px) var(--30px);
  border-radius: var(--33px);
}

.size-lg > div {
  /* width: 136px;
  height: 43.32px; */
  padding: var(--sy-16px) var(--50px);
  border-radius: var(--41px);
}

.size-xl > div {
  /* width: 186px;
  height: 51px; */
  padding: var(--sy-20px) var(--75px);
  border-radius: var(--41px);
}
