.rankSelection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rankSelection h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.rankSelection p {
  font-size: var(--18px);
  font-weight: 400;
  color: #ffffffcc;
}
.rankSelection > div > div > div {
  font-size: clamp(32px, calc(1.75vw + 0.1rem), 100px);
  font-weight: 500;
  border-radius: 57px;
  padding: var(--sy-4px) var(--32px);
}
