/* Notification button */
.notificationBtn {
  border: none;
  outline: none;
  cursor: pointer;
}

.notificationBtn > svg {
  width: var(--18px);
  height: var(--19px);
}

/* Notification window */
.notification_window {
  position: absolute;
  min-width: clamp(360px, calc(21.1vw + 0.1rem), 1000px);
  top: calc(100% + 1rem);
  right: -1.8rem;
  padding: var(--sy-18px) var(--26px);
  background-color: #272727;
  z-index: 999999;
  box-shadow: 5px 4px 10px 0px #00000040;
  box-shadow: -6px 4px 10px 0px #00000040;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.notification_window.open {
  visibility: visible;
  opacity: 1;
}

/* Notification content */
.tabs_content {
  max-height: 50vh;
  overflow-y: auto;
}
.tabs_content::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
}
.tabs_content::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
.tabs_content a {
  display: block;
}

/* Notification item */
.notification_item {
  padding: clamp(10px, calc(var(--sy-12px) + 0.1rem), 60px) clamp(10px, calc(var(--14px) + 0.1rem), 60px);
  border-radius: var(--9px);
  background: #272727;
  color: #ffffff;
  transition: all 0.3s;
  border: 1px solid #484848
}
.notification_item:hover {
  background-color: #484848;
}



@media only screen and (max-width: 767px) {
  .notification_window {
    min-width: 270px;
    max-width: 270px;
    right: -2.2rem;
    padding: 0.7rem;
  }
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: var(--10px) solid transparent;
  border-right: var(--10px) solid transparent;
  border-bottom: var(--10px) solid #1c1c1c; /* Adjust the color to match the background of the notification window */
  top: -10px; /* Adjust based on the size of the triangle */
  right: 1.5rem;
  /* transform: translateX(-50%); */
}
