.subscribedServices {
  padding: clamp(10px, calc(0.4vw + 0.1rem), 1000px);
  padding-right: clamp(16px, calc(1.5vw + 0.1rem), 100px);
  background-color: var(--dark-gray-1);
  border-radius: clamp(72px, calc(5vw + 0.1rem), 100px);
}

.subscribedServices > div > button {
  width: clamp(10px, calc(5vw + 0.1rem), 1000px);
  display: flex;
  justify-content: center;
  align-items: center;
}

