.subscribedServices {
  padding: clamp(10px, calc(0.4vw + 0.1rem), 1000px);
  padding-right: clamp(16px, calc(1.5vw + 0.1rem), 1000px);
  background-color: var(--dark-gray-1);
  border-radius: clamp(72px, calc(5vw + 0.1rem), 1000px);
  white-space: nowrap;
}

/* ===== Start Services Cards ===== */
/* Profile Card */
.profileCard {
  background-color: #efe8121a;
  border-radius: var(--42px);
  padding: var(--sy-6px) var(--20px) var(--sy-6px) var(--5px);
  gap: var(--10px);
  position: relative;
  margin-right: 1vw;
}
.profileCard::after {
  position: absolute;
  content: "";
  height: 75%;
  width: var(--1px);
  background-color: #616161;
  left: calc(100% + 1vw);
  top: 50%;
  transform: translateY(-50%);
}
.profileInfo {
  display: flex;
  flex-direction: column;
  gap: var(--3px);
}
.profileName {
  font-size: var(--14px);
  font-weight: 700;
  color: #f8f24b;
}
.profileBalance {
  font-size: var(--14px);
  font-weight: 500;
  color: #828282;
}

/* Services Cards */
.servicesCards > a > div > div > div:first-child {
  border-right: var(--1px) solid #f8f24b !important;
}

.servicesCards > a > div > div:hover > div:first-child {
  border-right: var(--1px) solid #f8f24b;
}

/* Add Service Button */
.subscribedServices > div > button {
  padding: var(--sy-14px) var(--14px);
  width: clamp(10px, calc(5vw + 0.1rem), 1000px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribedServices > div > button > svg {
  width: var(--19px);
  height: var(--19px);
  fill: var(--white);
}

.subscribedServices > div > button:hover > svg {
  fill: #f8f24b;
}
/* ===== End Services Cards ===== */


.filterTabs * {
  user-select: none;
}
.filterTabs {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.services a {
  pointer-events: none;
  user-select: none;
}
.services span {
  pointer-events: none;
  user-select: none;
}
.services * {
  pointer-events: none;
  user-select: none;
}