.monetizeFollowers h2 {
    font-size: var(--32px);
    font-weight: 600;
  }
  .monetizeFollowers h4 {
    font-size: var(--18px);
    font-weight: 400;
    color: #FFFFFFCC;
  }
  .monetizeFollowers p {
    font-size: var(--18px);
    color: #FFFFFFCC;
  }
  
  
.monetizeFollowers ::placeholder {
    font-size: var(--18px);
    font-weight: 400;

}
.monetizeFollowers h2 span {
  color: #F8F24B;
  font-size: var(--32px);
}
.monetizeFollowers a {
  font-size: var(--18px);  
}