.monetizeImpressions h2 {
    font-size: var(--32px);
    font-weight: 600;
  }
  .monetizeImpressions h4 {
    font-size: var(--18px);
    font-weight: 400;
    color: #ffffffcc;
  }
  .monetizeImpressions p {
    font-size: var(--18px);
    color: #FFFFFFCC;
  }
  
  
.monetizeImpressions ::placeholder {
    font-size: var(--18px);
    font-weight: 400;

}
.monetizeImpressions h2 span {
  color: #F8F24B;
  font-size: var(--32px); 

}
.monetizeImpressions a {
  font-size: var(--18px);  
}