.createWebsite h2 {
    font-size: clamp(14px, calc(var(--32px) + 0.1rem), 100px);
    font-weight: 600;
  }
  .createWebsite .btns > div {
    width: 13.5vw;
    padding: 0;
  }
  .createWebsite .btns > div > div {
    padding: 0.8vw 1vw;
    font-size: var(--16px);
    font-weight: 500;
    transition: all 0.2s;
  }
  .createWebsite .btns input:checked + div {
    font-size: var(--16px);
    font-weight: 700;
  }
  .divider {
    display: block;
    height: var(--1px);
    width: 100%;
    border: 0;
    border-top: var(--1px) solid #484848;
    margin-top: clamp(42px, calc(var(--54px) + 0.1rem), 60px);
    margin-bottom: clamp(42px, calc(var(--54px) + 0.1rem), 60px);
    padding: 0;
  }
  