/* .slider {
  position: relative;
  width: 950px;
  height: 521px;
  overflow: hidden;
}
.item {
  position: absolute;
  width: 209.39px;
  height: 456.7px;
  text-align: justify;
  background-color: #fff;
  border-radius: 18px;
  padding: 20px;
  transition: 0.5s;
  left: 50%;
  top: 0;
  color: black;
  padding: 1vw;
  overflow: hidden;
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transition: all 0.5s;
  border: 10px solid #1c1c1c;
}
.item.active {
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 2 !important;
  opacity: 1 !important;
  border: 10px solid red !important;
}
.item.left {
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transform: translateX(calc(-50% - 150px)) scale(0.8);
}
.item.right {
  z-index: 1;
  filter: blur(1px);
  opacity: 0.5;
  transform: translateX(calc(-50% + 150px)) scale(0.8);
} */
