.footage h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.footage h4 {
  font-size: var(--18px);
  font-weight: 400;
  color: #FFFFFFCC;
}

.footage input + span {
  width: 100%;
  padding-top: 0.533vh;
  padding-bottom: 0.533vh;

}
.footage input {
    cursor: pointer;
}
.footage input:hover + div {
  background-color: #1c1c1c ;

}
.footage input:hover ~ button {
  background-color: #1c1c1c ;

}
.footage input ~ button {
  font-size: var(--18px);
  font-weight: 400;
}
.footage input:checked + div {
  background-color: #F8F24B ;
}
.footage input:checked ~ button {
  background-color: #F8F24B !important;
  color: #1c1c1c;
  font-weight: 700;

}
.footage input:checked + div span {
  color: #1c1c1c;
  font-weight: 700;
}
.footage img {
  width: 7vw;
  height: 100%;
}
.footage .checking input + span {
  background-color: var(--dark-gray-2);
}
.footage .checking input[type="text"],.footage .checking input[type="number"] {
  cursor: text;
  color: white;
  padding: 0.356vh 0.6vw ; 
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.footage .checking input[type="number"]::-webkit-outer-spin-button,
.footage .checking input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.footage .checking input[type=number] {
  -moz-appearance: textfield;
}
.checking {
  font-size: var(--18px);
}