.seoCampaignEndPoint h2 {
  font-size: clamp(14px, calc(1.3vw + 0.1rem), 1000px);
  font-weight: 600;
}
.seoCampaignEndPoint h4 {
  font-size: clamp(12px, calc(0.75vw + 0.1rem), 1000px);
  font-weight: 400;
  color: #FFFFFFCC;
}
.seoCampaignEndPoint h3 {
  font-size: clamp(12px, calc(0.85vw + 0.1rem), 1000px);
  font-weight: 600;
  color: white;
}

.seoCampaignEndPoint button {
  font-size: clamp(12px, calc(0.85vw + 0.1rem), 1000px);
  font-weight: 600;
}
.seoCampaignEndPoint ::placeholder {
  font-size: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
  font-weight: 400;
}
.seoCampaignEndPoint .btns > div {
  width: 13.5vw;
  padding: 0;
}
.seoCampaignEndPoint .btns > div > div {
  padding: 0.8vw 1vw;
  font-size: var(--16px);

  font-weight: 500;
  transition: all 0.2s;
}
.seoCampaignEndPoint .btns input:checked + div {
  font-size: var(--16px);
  font-weight: 700;
}
.seoCampaignEndPoint h2 span {
  color: #f8f24b;
  font-weight: 600;
  font-size: var(--32px);
}
.seoCampaignEndPoint p span {
  color: #f8f24b;
  font-weight: 700;
  font-size: var(--18px);
}
.seoCampaignEndPoint a {
  font-size: clamp(12px, calc(0.75vw + 0.1rem), 1000px);
}
.seoCampaignEndPoint div:has(> input:checked:first-child:last-child) {
  background-color: var(--highlight-yellow);
  color: var(--primary-black);
  font-weight: 700;
  text-decoration: underline;
}
