.monetizationEndPoint h2 {
    font-size: clamp(14px, calc(1.3vw + 0.1rem), 100px);
    font-weight: 600;
  }
  .monetizationEndPoint h4 {
    font-size: clamp(12px, calc(0.75vw + 0.1rem), 100px);
    font-weight: 400;
    color: #ffffffcc;
  }
  .monetizationEndPoint h3 {
    font-size: clamp(12px, calc(0.85vw + 0.1rem), 100px);
    font-weight: 600;
    color: white;
  }
  
  .monetizationEndPoint button {
    font-size: clamp(12px, calc(0.85vw + 0.1rem), 100px);
    font-weight: 600;
    
  }
.monetizationEndPoint ::placeholder {
    font-size: clamp(12px, calc(0.8vw + 0.1rem), 100px);
    font-weight: 400;

}
.monetizationEndPoint .btns > div {
    width: 14.5vw;
    padding: 0;
}
.monetizationEndPoint .btns > div > div {
    padding: 1.422vh 1vw;
    font-size: clamp(12px, calc(0.8vw + 0.1rem), 100px);
    font-weight: 600;
    transition: all 0.2s;
}
.monetizationEndPoint .btns input:checked + div {
    font-size: clamp(12px, calc(0.8vw + 0.1rem), 100px);
    font-weight: 600;

}
.monetizationEndPoint h2 span {
  color: #F8F24B;
  font-size: clamp(12px, calc(1.2vw + 0.1rem), 100px); 
}
.monetizationEndPoint button, .monetizationEndPoint a {
  font-size: clamp(12px, calc(0.75vw + 0.1rem), 100px);  
}
.monetizationEndPoint button:has(input[type="checkbox"]:checked) {
 background: #F8F24B;
 color: #1c1c1c;
}