.home_ourWork {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_ourWork .home_ourWork_content h2 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: var(--96px);
  color: #f8f24b;
  margin-bottom: var(--60px);
}

.home_ourWork .home_ourWork_caseStudy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--20px);
}

.home_ourWork .home_ourWork_caseStudy > p {
  text-align: center;
}

.home_ourWork .home_ourWork_caseStudy > p > span {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: var(--25px);
  color: #f8f24b;
}

.home_ourWork .home_ourWork_caseStudy > h3 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: var(--40px);
  color: #f8f24b;
}

.home_ourWork_leftImg,
.home_ourWork_rightImg {
  border: var(--5px) solid #f8f24b;
  border-radius: var(--35px);
  overflow: hidden;
}

.home_ourWork_leftImg {
  transform: rotate(-12.75deg);
}
.home_ourWork_rightImg {
  transform: rotate(12.75deg);
}
