.articleSelection h2 {
  font-size: var(--32px);
  font-weight: 600;
}

.articleSelection .btns > div {
  width: 13.5vw;
  padding: 0;
}
.articleSelection .btns > div > div {
  padding: 0.8vw 1vw;
  font-size: var(--16px);
  font-weight: 500;
  transition: all 0.2s;
}
.articleSelection .btns input:checked + div {
  font-size: var(--16px);
  font-weight: 700;
}

.articleSelection div:has(> input:checked:first-child:last-child) {
  background-color: var(--highlight-yellow);
  color: var(--primary-black);
  font-weight: 700;
}
