.videoDuration h2 {
    font-size: var(--32px);
    font-weight: 600;
  }
  .videoDuration h4 {
    font-size: var(--18px);
    font-weight: 400;
    color: #ffffffcc;
  }
  .durationIndicator {
    font-size: var(--18px);
color: #F8F24B;
  }
.videoDuration a {
    font-size: var(--18px);  
  }