.needs ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  .needs ::-webkit-scrollbar-track {
    background: transparent; /* Background of the track */
    margin: 1vw;
  }

  .needs ::-webkit-scrollbar-thumb {
    background-color: #3b3b3b; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
  }
