.createWebsite h2 {
  font-size: var(--32px);
  font-weight: 600;
}
.createWebsite .btns > div {
  width: var(--241px);
  padding: 0;
}
.createWebsite .btns > div > div {
  padding: 0.8vw 1vw;
  font-size: var(--18px);
  font-weight: 500;
  transition: all 0.2s;
}
.createWebsite .btns input:checked + div {
  font-size: var(--18px);
  font-weight: 700;
}
.divider {
  display: block;
  height: var(--1px);
  width: 100%;
  border: 0;
  border-top: var(--1px) solid #484848;
  margin-top: clamp(42px, calc(2.1vw + 0.1rem), 60px);
  margin-bottom: clamp(42px, calc(2.1vw + 0.1rem), 60px);
  padding: 0;
}

.createWebsite div:has(> input:checked:first-child:last-child) {
  background-color: var(--highlight-yellow);
  color: var(--primary-black);
}
